.login-pages {
    display: flex;
}

.login-pages .accountbg {
    background-image: url("../../../assets/images/auth/login.jpg");
}

.account-box {
    margin-top: 4rem;
}

.account-box .card-box {
    margin: 0 !important;
    padding: 0 !important;
}

.account-box .form-group {
    margin: 2rem 0;
}

.account-box #forgot-password {
    margin-top: .5rem;
}

#email-address {
    margin: .3rem 0;
    background-color: #CFDAE2;
    border: 2px solid #627684;
}

#password {
    background-color: #CFDAE2;
}

#logo {
    height: 8rem;
}

.login-pages #container-password {
    margin: .3rem 0;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CFDAE2;
    border: 2px solid #627684;
    border-radius: 4px;
}

.login-pages #container-password #eye-outline {
    display: flex;
    scale: 1.4;
    margin-right: 1rem;
    color: #627684;
}

.login-pages #button-sign-up {
    margin-top: 2rem;
}