.user-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo-padlef {
  padding-left: 5%;
}

.pointer {
  cursor: pointer;
}

.slimscroll {
  min-height: 0px;
  max-height: 350px;
  height: auto !important;
}

.user-img img {
  width: 48px;
  height: 48px;
}