.container-department .detail {
  margin: 15px;
  width: 30rem;
}

/* .department-page .department-card {
  padding: 40px 0;
  border-radius: 5px;
}

.department-page .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  scale: 0.8;
  cursor: pointer;
}

.department-page .container p {
  font-size: 1rem;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
}

.department-page .department-title {
  margin: 0;
  font-size: 1.5rem;
  padding-bottom: 2rem;
  text-align: center;
  font-weight: bold;
}

.department-page .add-icon {
  padding: 1.8rem 3.4rem;
  border: 4px solid #627684;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 0.9;
  cursor: pointer;
}

.department-page #add-department {
  background-color: unset !important;
}

.department-page .option {
  margin: 0.2rem 0;
  padding: 0.2rem 2rem;
  top: 10px;
  bottom: 10px;
  border: 3px solid gray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.department-page .ant-dropdown {
  padding-top: -3rem;
}

.department-page .ant-dropdown-menu,
.ant-dropdown-menu-item {
  font-weight: bold !important;
  padding: 0 !important;
  min-width: unset !important;
  box-shadow: unset !important;
}

.department-page .ant-dropdown-menu {
  margin-top: -9rem !important;
}

.department-page .container-department h4,
h5 {
  margin: 0;
}

.department-page .title {
  background-color: #313541;
  padding: 18px;
  font-size: 17px;
  color: white;
}

.department-page .content-department {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.department-page .content-department .name {
  padding-left: 10px;
  padding-top: 16px;
  padding-bottom: 10px;
  font-size: 14px;
}

.department-page #input-department {
  height: 2.2rem;
  border-radius: 20px;
  border: 2px solid #313541;
}

.department-page .content-department .row .detail {
  display: flex;
  margin-top: 30px;
  margin-bottom: 6rem;
}

.department-page .content-department .detail #upload {
    display: flex;
    justify-content: center;
    align-items: center;
}

.department-page .content-department .address {
  flex: 1;
  margin-left: 2rem;
}

.department-page .address h5 {
  margin-bottom: 1rem;
  margin-left: 10px;
}

.department-page .avatar-uploader {
    width: 8rem !important;
    height: 10rem !important;
    margin: 0 !important;
    border: 3px solid #B6B6B6;
    border-radius: 5px;
    display: flex !important;
    justify-content: center ;
    align-items: center;
}

.department-page .ant-upload-select {
  margin: 0 !important;
} */